.center-body{
  margin: auto;
  margin-top: 10%;
  background-color: black;
  border-spacing: 20px;
  border-radius: 40px;
  padding-top: 50px;
}

#value{
  color: #F0F0F0;
  font-size: 3.0em;
  padding-bottom: 20px;
  padding-right:  25px;
  text-align: right;
}

.btn-com{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #A9A9A9;
  border-color: #A9A9A9;
  color: #000;
  font-size: 1.5em;
}

.btn-num{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #181818;
  border-color: #181818;
  color: #F0F0F0;
  font-size: 1.6em;
}

.btn-num-0{
  width: 170px;
  height: 80px;
  border-radius: 40px;
  background-color: #181818;
  border-color: #181818;
  color: #F0F0F0;
  font-size: 1.6em;
}


.btn-calc{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: orange;
  border-color: orange;
  color: #F0F0F0;
  font-size: 1.7em;
}
